@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --text-descr: hsla(0, 0%, 100%, 0.75);
  --text-rest: hsl(0, 0%, 95%);

  --sedans: hsl(31, 77%, 52%);
  --suvs: hsl(184, 100%, 22%);
  --luxury: hsl(179, 100%, 13%);
}

html {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: var(--text-rest);
}

body {
  height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.component {
  --component-width: 900px;

  max-width: var(--component-width);
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car__card {
  max-width: calc(var(--component-width) / 3);
  padding: 40px;
}

.car__card .car__title {
  margin: 20px 0;
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  color: var(--text-rest);
  font-size: 2.2rem;
}

.car__card .car__descr {
  line-height: 1.5rem;
  color: var(--text-descr);
}

.car__card .car__more {
  margin-top: 70px;
  padding: 13px 25px;
  border: 2px solid var(--text-rest);
  border-radius: 100vh;
  background-color: var(--text-rest);
  font-family: "Lexend Deca", sans-serif;
}

.car__card .car__more:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--text-rest);
  transition: all 0.2s linear;
}

.car__card.sedans {
  border-radius: 10px 0 0 10px;
  background-color: var(--sedans);
}

.sedans .car__more {
  color: var(--sedans);
}

.car__card.suvs {
  background-color: var(--suvs);
}

.suvs .car__more {
  color: var(--suvs);
}

.car__card.luxury {
  border-radius: 0 10px 10px 0;
  background-color: var(--luxury);
}

.luxury .car__more {
  color: var(--luxury);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 950px) {
  body {
    height: auto;
  }

  .component {
    flex-direction: column;
    margin-inline: 20px;
  }

  .car__card.sedans {
    border-radius: 10px 10px 0 0;
  }

  .car__card.luxury {
    border-radius: 0 0 10px 10px;
  }

  .car__card .car__more {
    margin-top: 20px;
  }
}
